<!-- Footer -->
<footer id="footer">
  <div class="grid-3 container">
    <div class="social">
      <a href="#"><i class="fab fa-facebook"></i> </a>
      <a href="#"> <i class="fab fa-instagram"></i> </a>
      <a href="#"> <i class="fab fa-telegram-plane"></i> </a>
      <a href="#"> <i class="fab fa-youtube"></i> </a>
    </div>
    <nav class="privacy">
      <ul>
        <li><a href="#"> Service </a></li>
        <li><a href="#"> Works </a></li>
        <li><a href="#"> Cliens </a></li>
        <li><a href="#"> Contact us </a></li>
        <li><a href="#"> Privacy & policy </a></li>
      </ul>
    </nav>
    <div>
      <h3>
        Diesefive<span class="header-thirdly"
          >Digital Agency for Code & Design</span
        >
      </h3>
      <p>Copyright &copy; 2021</p>
    </div>
  </div>
</footer>
