{% load static %}
<!-- Navbar -->
<header class="navbar">
  <div class="logo">
    <h2 class="header-thirdly">
      Diesefive<span class="header-secondary">Digital</span> Agency
    </h2>
  </div>
  <div class="toggle"></div>
  <div class="navigation">
    <ul>
      <li><a href="{% url 'home' %}"> HOME </a></li>
      <li><a href="{% url 'services' %}"> SERVICE </a></li>
      <li><a href="{% url 'works' %}"> WORKS </a></li>
      <li><a href="{% url 'about' %}"> ABOUT </a></li>
      <li><a href="{% url 'contact' %}"> CONTACT </a></li>
    </ul>
  </div>
</header>
