{% load static %}
<!-- Navbar -->
<nav id="navbar">
    <div>
        <h3 class="logo">
            <span class="text-primary"> <i class="fas fa-store"></i> Shopy</span> Home
        </h3>
    </div>
    <div>
        <ul>
            <li><a href="{% url 'home' %}">Product</a></li>
            <li><a href="{% url 'home' %}">Category</a></li>
            <li>
                <a href="{% url 'cart' %}"> <i class="fas fa-cart-arrow-down"></i> Card (5) </a>
            </li>
        </ul>
    </div>
</nav>
<!-- End of  Navbar -->