{% extends 'base.html' %} {% load static %}
<!-- Title -->
{% block title %} About us {% endblock title %}
<!-- Content -->
{% block content %}

<!-- SHOWCASE -->
<section class="home-section">
  <div class="home-content">
    <h3>
      We Help You to Achieve Your Goals & Growing-up your Business Online .
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam harum
      in, ratione voluptas odio sit, officia quia rem ex voluptate autem
      cupiditate! Voluptates maiores quia, laudantium rem optio deserunt? Nam.
    </p>
    <a class="btn" href=""> Start Now</a>
  </div>
  <img src="{% static "images/homeee.jpg" %}" class="home-image" alt="" />
</section>

<!-- OUT TEAMS -->
<section class="team">
  <h2 class="header-part">
    OUR
    <span class="header-primary"> TEAMS </span> & Players
  </h2>
  <div class="teams container">
    <div class="card">
      {% for team in teams %}
      <div>
        <img src="{{team.image.url}}" alt="" />
        <h2>{{team.name}}</h2>
        <p>{{team.description}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- WHAT OUR CLIEN SAYS ABOUT US -->
<section class="clients">
  <h2 class="header-part">
    LOOK AT WHAT OUR
    <span class="header-primary"> CLIENTS </span> SAYS ABOUT US
  </h2>
  <div class="client container">
    {% for feed in feedback %}
    <div class="card">
      <div>
        <img src="{{feed.image.url}}" alt="" />
        <h2>{{feed.name}}</h2>
      </div>
      <p>"{{feed.description}}"</p>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}
