{% extends 'base.html' %} {% load static %}
<!-- Title -->
{% block title %} Shopping cart {% endblock title %}
<!-- End of Title -->

{% block content %}
<!-- Shopping Cart -->
<h1 id="heading-l"><span class="text-primary"> Shopping </span> Cart </h1>
<div class="container">
    <header id="shopping-card">
        <div class="cart-item">
            <h2> <span class="text-primary"> List </span> Items </h2>
            <section id="grid-items" class="cart-item-list">
                <div>
                    <img src="{% static 'img/phone.jpg' %}" alt="image">
                </div>
                <div>
                    <p> Camera D-580 </p>
                    <p> 678£$ </p>
                    <p> Qyt : 3 </p>
                    <a href="#"><i class="fas fa-plus-circle"></i></a>
                    <a href="#"><i class="fas fa-minus-circle"></i></a>
                    <a href="#"><i class="far fa-trash-alt"></i></a>
                </div>
                <div>
                    <img src="{% static 'img/phone.jpg' %}" alt="image">
                </div>
                <div>
                    <p> Camera D-580 </p>
                    <p> 678£$ </p>
                    <p> Qyt : 3 </p>
                    <a href="#"><i class="fas fa-plus-circle"></i></a>
                    <a href="#"><i class="fas fa-minus-circle"></i></a>
                    <a href="#"><i class="far fa-trash-alt"></i></a>
                </div>
            </section>
        </div>
        <div class="check-out">
            <h2> <span class="text-primary"> Chackout  </span> List </h2>
            <div class="cart-item-list">
                <div>
                    <p> Total Amount : $120 </p>
                    <a class="btn" href="#"> Save Payment </a>
                    <a class="btn" href="#"> Continous Shopping </a>
                </div>
            </div>
        </div>
    </header>
</div>
<!-- End of Shopping Cart -->


{% endblock content %}