{% extends 'base.html' %} {% load static %}
<!-- Title -->
{% block title %} Enjoy New Products! {% endblock title %}
<!-- Content -->
{% block content %}

<!-- SHOWCASE -->
<section class="home-section">
  <div class="home-content">
    <h3>
      We Help You to Achieve Your Goals & Growing-up your Business Online .
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam harum
      in, ratione voluptas odio sit, officia quia rem ex voluptate autem
      cupiditate! Voluptates maiores quia, laudantium rem optio deserunt? Nam.
    </p>
    <a class="btn" href=""> Start Now</a>
  </div>
  <img src="{% static "images/homeee.jpg" %}" class="home-image" alt="" />
</section>

<!-- SERVICE -->
<section class="services">
  <h2 class="header-part">
    ALL
    <span class="header-primary"> SERVICES </span>
  </h2>
  <div class="background">
    <div class="service container">
      {% for service in services %}
      <div class="card">
        <img src="{{service.image.url}}" alt="" />
        <br />
        <h2>{{service.name}}</h2>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
